In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("archive/diabetes1.csv")

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35,0,33.6,0.627,50,1
1,1,85.0,66,29,0,26.6,0.351,31,0
2,8,NaN,64,0,0,23.3,0.672,32,1
3,1,89.0,66,23,94,28.1,0.167,21,0
4,0,137.0,40,35,168,43.1,2.288,33,1

In [4]:
df.shape

(768, 9)

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,765.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.864052,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.918373,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
df.isnull().sum()

Pregnancies                 0
Glucose                     3
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [7]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101.0,76,48,180,32.9,0.171,63,0
764,2,122.0,70,27,0,36.8,0.340,27,0
765,5,121.0,72,23,112,26.2,0.245,30,0
766,1,126.0,60,0,0,30.1,0.349,47,1
767,1,93.0,70,31,0,30.4,0.315,23,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   765 non-null    float64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(3), int64(6)
memory usage: 54.1 KB

In [9]:
df.dtypes

Pregnancies                   int64
Glucose                     float64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [10]:
df=df.astype({"Outcome":bool})
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35,0,33.6,0.627,50,True
1,1,85.0,66,29,0,26.6,0.351,31,False
2,8,NaN,64,0,0,23.3,0.672,32,True
3,1,89.0,66,23,94,28.1,0.167,21,False
4,0,137.0,40,35,168,43.1,2.288,33,True
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76,48,180,32.9,0.171,63,False
764,2,122.0,70,27,0,36.8,0.340,27,False
765,5,121.0,72,23,112,26.2,0.245,30,False
766,1,126.0,60,0,0,30.1,0.349,47,True
767,1,93.0,70,31,0,30.4,0.315,23,False

In [11]:
df=df.astype({"SkinThickness":float})
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35.0,0,33.6,0.627,50,True
1,1,85.0,66,29.0,0,26.6,0.351,31,False
2,8,NaN,64,0.0,0,23.3,0.672,32,True
3,1,89.0,66,23.0,94,28.1,0.167,21,False
4,0,137.0,40,35.0,168,43.1,2.288,33,True
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76,48.0,180,32.9,0.171,63,False
764,2,122.0,70,27.0,0,36.8,0.340,27,False
765,5,121.0,72,23.0,112,26.2,0.245,30,False
766,1,126.0,60,0.0,0,30.1,0.349,47,True
767,1,93.0,70,31.0,0,30.4,0.315,23,False

In [12]:
df.dtypes

Pregnancies                   int64
Glucose                     float64
BloodPressure                 int64
SkinThickness               float64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                        bool
dtype: object

In [17]:
Glu=df[['Glucose']]
type(Glu)
Glu

     Glucose
0      148.0
1       85.0
2        NaN
3       89.0
4      137.0
..       ...
763    101.0
764    122.0
765    121.0
766    126.0
767     93.0

[768 rows x 1 columns]

In [13]:
df['Outcome']

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [14]:
df[['Outcome']]

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [15]:
df[['Outcome']].columns

Index(['Outcome'], dtype='object')

In [18]:
#label encoding
objects=df[['Outcome']].columns
df[objects]=df[objects].apply(lambda x:pd.factorize(x)[0])
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35.0,0,33.6,0.627,50,0
1,1,85.0,66,29.0,0,26.6,0.351,31,1
2,8,NaN,64,0.0,0,23.3,0.672,32,0
3,1,89.0,66,23.0,94,28.1,0.167,21,1
4,0,137.0,40,35.0,168,43.1,2.288,33,0

In [17]:
df.shape

(768, 9)

In [18]:
df.dropna(inplace=True)

In [19]:
df.shape

(765, 9)

In [20]:
df.dropna(axis='columns') #rempoves columns containing null

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35.0,0,33.6,0.627,50,0
1,1,85.0,66,29.0,0,26.6,0.351,31,1
3,1,89.0,66,23.0,94,28.1,0.167,21,1
4,0,137.0,40,35.0,168,43.1,2.288,33,0
5,5,116.0,74,0.0,0,25.6,0.201,30,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76,48.0,180,32.9,0.171,63,1
764,2,122.0,70,27.0,0,36.8,0.340,27,1
765,5,121.0,72,23.0,112,26.2,0.245,30,1
766,1,126.0,60,0.0,0,30.1,0.349,47,0
767,1,93.0,70,31.0,0,30.4,0.315,23,1

In [21]:
df.shape

(765, 9)

In [22]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000,765.000000
mean,3.835294,120.864052,69.101961,20.575163,79.997386,32.047059,0.472221,33.224837,0.653595
std,3.369335,31.918373,19.356129,15.943492,115.397288,7.807766,0.331687,11.756324,0.476135
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,32.000000,32.000000,0.374000,29.000000,1.000000
75%,6.000000,140.000000,80.000000,32.000000,128.000000,36.600000,0.626000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [23]:
df['Insulin'][4]=94
df['Insulin'][4]

C:\Users\Amay\AppData\Local\Temp\ipykernel_13696\3571587702.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Insulin'][4]=94

94

In [24]:
df.drop_duplicates(subset=['Insulin'])# drops the row with duplicate values

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35.0,0,33.6,0.627,50,0
3,1,89.0,66,23.0,94,28.1,0.167,21,1
8,2,197.0,70,45.0,543,30.5,0.158,53,0
13,1,189.0,60,23.0,846,30.1,0.398,59,0
14,5,166.0,72,19.0,175,25.8,0.587,51,0
...,...,...,...,...,...,...,...,...,...
718,1,108.0,60,46.0,178,35.5,0.415,24,1
722,1,149.0,68,29.0,127,29.3,0.349,42,0
753,0,181.0,88,44.0,510,43.3,0.222,26,0
760,2,88.0,58,26.0,16,28.4,0.766,22,1
765,5,121.0,72,23.0,112,26.2,0.245,30,1

In [25]:
df['Insulin'][4]=np.nan
df['Insulin'][4]

C:\Users\Amay\AppData\Local\Temp\ipykernel_13696\2489449522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Insulin'][4]=np.nan

nan

In [26]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35.0,0.0,33.6,0.627,50,0
1,1,85.0,66,29.0,0.0,26.6,0.351,31,1
3,1,89.0,66,23.0,94.0,28.1,0.167,21,1
4,0,137.0,40,35.0,NaN,43.1,2.288,33,0
5,5,116.0,74,0.0,0.0,25.6,0.201,30,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76,48.0,180.0,32.9,0.171,63,1
764,2,122.0,70,27.0,0.0,36.8,0.340,27,1
765,5,121.0,72,23.0,112.0,26.2,0.245,30,1
766,1,126.0,60,0.0,0.0,30.1,0.349,47,0
767,1,93.0,70,31.0,0.0,30.4,0.315,23,1

In [27]:
df.fillna(10000,inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35.0,0.0,33.6,0.627,50,0
1,1,85.0,66,29.0,0.0,26.6,0.351,31,1
3,1,89.0,66,23.0,94.0,28.1,0.167,21,1
4,0,137.0,40,35.0,10000.0,43.1,2.288,33,0
5,5,116.0,74,0.0,0.0,25.6,0.201,30,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76,48.0,180.0,32.9,0.171,63,1
764,2,122.0,70,27.0,0.0,36.8,0.340,27,1
765,5,121.0,72,23.0,112.0,26.2,0.245,30,1
766,1,126.0,60,0.0,0.0,30.1,0.349,47,0
767,1,93.0,70,31.0,0.0,30.4,0.315,23,1

In [28]:
(df<0).sum()#negative values with individual columns

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [29]:
(df<0).sum().sum()

0

In [30]:
normalized_df=(df-df.min())/(df.max()-df.min())
normalized_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.352941,0.743719,0.590164,0.353535,0.0000,0.500745,0.234415,0.483333,0.0
1,0.058824,0.427136,0.540984,0.292929,0.0000,0.396423,0.116567,0.166667,1.0
3,0.058824,0.447236,0.540984,0.232323,0.0094,0.418778,0.038002,0.000000,1.0
4,0.000000,0.688442,0.327869,0.353535,1.0000,0.642325,0.943638,0.200000,0.0
5,0.294118,0.582915,0.606557,0.000000,0.0000,0.381520,0.052519,0.150000,1.0
...,...,...,...,...,...,...,...,...,...
763,0.588235,0.507538,0.622951,0.484848,0.0180,0.490313,0.039710,0.700000,1.0
764,0.117647,0.613065,0.573770,0.272727,0.0000,0.548435,0.111870,0.100000,1.0
765,0.294118,0.608040,0.590164,0.232323,0.0112,0.390462,0.071307,0.150000,1.0
766,0.058824,0.633166,0.491803,0.000000,0.0000,0.448584,0.115713,0.433333,0.0
767,0.058824,0.467337,0.573770,0.313131,0.0000,0.453055,0.101196,0.033333,1.0

In [31]:
df2=pd.DataFrame({'Pregnancies':[0.11],'Glucose':[0.99]})

In [32]:
df=df.append(df2,ignore_index=True)

C:\Users\Amay\AppData\Local\Temp\ipykernel_13696\2482205262.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df2,ignore_index=True)

In [33]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.00,148.00,72.0,35.0,0.0,33.6,0.627,50.0,0.0
1,1.00,85.00,66.0,29.0,0.0,26.6,0.351,31.0,1.0
2,1.00,89.00,66.0,23.0,94.0,28.1,0.167,21.0,1.0
3,0.00,137.00,40.0,35.0,10000.0,43.1,2.288,33.0,0.0
4,5.00,116.00,74.0,0.0,0.0,25.6,0.201,30.0,1.0
...,...,...,...,...,...,...,...,...,...
761,2.00,122.00,70.0,27.0,0.0,36.8,0.340,27.0,1.0
762,5.00,121.00,72.0,23.0,112.0,26.2,0.245,30.0,1.0
763,1.00,126.00,60.0,0.0,0.0,30.1,0.349,47.0,0.0
764,1.00,93.00,70.0,31.0,0.0,30.4,0.315,23.0,1.0
765,0.11,0.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.drop(761)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.00,148.00,72.0,35.0,0.0,33.6,0.627,50.0,0.0
1,1.00,85.00,66.0,29.0,0.0,26.6,0.351,31.0,1.0
2,1.00,89.00,66.0,23.0,94.0,28.1,0.167,21.0,1.0
3,0.00,137.00,40.0,35.0,10000.0,43.1,2.288,33.0,0.0
4,5.00,116.00,74.0,0.0,0.0,25.6,0.201,30.0,1.0
...,...,...,...,...,...,...,...,...,...
761,2.00,122.00,70.0,27.0,0.0,36.8,0.340,27.0,1.0
762,5.00,121.00,72.0,23.0,112.0,26.2,0.245,30.0,1.0
763,1.00,126.00,60.0,0.0,0.0,30.1,0.349,47.0,0.0
764,1.00,93.00,70.0,31.0,0.0,30.4,0.315,23.0,1.0
765,0.11,0.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df=df.drop(1)#dropped row indexed as 1

In [36]:
x=df['Glucose']
y=df['BloodPressure']

In [38]:
x

0      148.00
2       89.00
3      137.00
4      116.00
5      115.00
        ...
761    122.00
762    121.00
763    126.00
764     93.00
765      0.99
Name: Glucose, Length: 765, dtype: float64

In [39]:
y

0      72.0
2      66.0
3      40.0
4      74.0
5       0.0
       ...
761    70.0
762    72.0
763    60.0
764    70.0
765     NaN
Name: BloodPressure, Length: 765, dtype: float64